<ul class="sidebar-flat">
  <a href="/"><li class="code-button" data-no-turbolink></li></a>
  <a href="/users/<%= session[:user_id] %>" data-no-turbolink><li class="sheet-button active"></li></a>
  <a href="/snippets/new" data-no-turbolink><li class="upload-button"></li></a>
</ul>

<!-- Modify for multiple cheatsheets -->
<div class="cheatsheet">
  <div class="snippets_container">
    <% if @snippets %>
      <%= render partial: "snippet", collection: @snippets %>
    <% end %>
  </div>
</div>


<div class="cheatsheet-description"><p>"Click on a code snippet for it's description"</p></div>
